<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
        
       <!-- 给服务起名称 -->
      <dubbo:application name="video-main-page" />
     <!-- &lt;!&ndash; 注册中心 &ndash;&gt;
      <dubbo:registry address="192.168.0.102:2181" protocol="zookeeper"></dubbo:registry>

      <dubbo:annotation package="com.hong.ego.portal.service.impl"></dubbo:annotation>

      <dubbo:consumer timeout="30000"></dubbo:consumer>-->

</beans>
        